* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width: 1200px;
}

.text-white {
    color: #fff;
}

.title h2{
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 1.5rem;
}

.title p {
    color: #707070;
    margin: 0;
    font-size: 17px;
}

.title button {
    padding: 12px 30px;
    background-color: #fb811e;
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: 400;
}

.title button:hover {
    background-color: #009f4d;
}

.align-items-center {
    align-items: center !important;
}

/* HEADER */

.navbar-brand {
    position: relative;
}

.navbar-brand h1 {
    font-family: 'Volkhov', serif;
    font-size: 2rem;
}

.navbar-light .navbar-brand {
    color: #fb811e;
}

.navbar-brand .fa {
    position: absolute;
    font-size: 20px;
    top: 0;
    left: 60px;
}

header .form-control {
    width: 35px !important;
    height: 35px;
    border-radius: 35px;
    background-image: url(../img/5023-512.png);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

header .form-control:focus {
    width: 200px !important ;
    background-position: left;
    background-position-x: 10px;
    padding-left: 30px;
    padding-right: 15px;
}

.theme button {
    font-size: 20px;
}

.dropdown .btn {
    font-size: 29px;
}

.dropdown-toggle::after{
    content: none;
}

.dropdown-menu.show {
    border: none;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    width: 232px;
    
}

header .dropdown-menu {
    right: 0;
    left: auto;
    text-align: center;
}

/* CAROUSEL */

.farmCarousel {
    position: relative;
}

.carousel__left {
    left: 10em;
    z-index: 100;
}

.carouselLeft__content {
    position: relative;
}

.carouselLeft__content>h2 {
    font-size: 120px;
    font-family: 'Volkhov', serif;
    font-weight: bold;
    color: #f4f4f4;
    margin-left: -0.5em;
    margin-bottom: -0.5em;
}


.carousel-item>img {
    height: 100vh;
    object-fit: cover;
    border-bottom-left-radius: 20px ;
}

.carousel__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 20px ;
}

#farmCaption .carousel-caption {
}

#farmCaption .carousel-indicators {
    bottom: 20px;
    margin: 0;
}

#farmCaption .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 4px;
}

#farmCaption .carousel-indicators .active {
    background-color: #fb811e;
}
.carousel-item {
    height: 100vh;
}

/* GROW */

/* SERVICES */
.farmServices {
    background: #009f4d;
    margin-top: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row h5 {
    font-size: 22px;
    font-weight: 500;
}

.row h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    margin-right: 33px;
    
}

.title__right {
    font-size: 1.25rem;
    font-weight: 300;
}


.farmServices__content {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.farmServices__item {
    padding: 0 15px;
}

.card {
    border-radius: 0.25rem;
}

.card__header img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__body {
    background-color: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card__body span {
    color: #009f4d;
    display: inline-block;
    padding: 5px 20px;
    background-color: #009f4d29;
    font-weight: 600;
    border-radius: 20px;
}

.card__body a{
    display: block;
    color: #060606;
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    text-decoration: none;
}

.card__body a:hover {
    color: #009f4d;
}

.card__body p {
    color: #707070;
    font-size: 17px;
    line-height: 27px;

}

/* WHYUS */
.whyUs {
    padding-top: 100px;
}

.whyUs__content {
    display: flex;
}

.whyUs__left {
    align-self: center;
}

.whyUs__content h5 {
    font-size: 22px;
    font-weight: 600;
    color: #fb811e;
}

.whyUs__content h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.whyUs__content P {
    color: #707070;
    font-size: 17px;
    margin: 16px 0;
}

.whyUs__bottom {
    display: flex;
    margin-top: 50px;
}

.bottom__left, .bottom__right {
    display: flex;
    padding: 0 10px;
}

.whyUs__left span {
    color: #fb811e;
    font-size: 30px;
}

.qualified, .excellent{
    margin-left: 10px;
}

.whyUs__content h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.whyUs__right {
    margin-left: 100px;
    position: relative;
}

.whyUs__img {
    width: 100%;
    border-radius: 30px;
}

.whyUs__year {
    position: absolute;
    background-color: #fb811e;
    bottom: 40px;
    left: -85px;
    padding: 30px;
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}

.whyUs__year h6 {
    font-size: 70px;
    color: #fff;
    font-weight: 600;
    line-height: 80px;
}

.whyUs__year p {
    color: #fff;
    font-size: 18px;
    font-weight: 600;

}


/* FEATURES */

/* GALLERY */

/* FEEDBACK */

/* FOOTER */

/* BACK TO TOP */

.backToTop {
    position: fixed;
    bottom: 90px;
    right: 15px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #009f4d;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    /* visibility: hidden;
    opacity: 0;    */
    transition: all 0.2;
}

.backToTop:hover {
    opacity: 0.8;
    color: #fff;
}

/* .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  } */
