* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width: 1200px;
}


.title p:first-of-type {
    font-size: 22px;
    font-family: 'Volkhov', serif;
    color: #fb811e;
    font-weight: 400;
}

.title h2 {
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 1.5rem;
}

.title p:last-of-type {
    color: #707070;
    margin: 0;
    font-size: 17px;
}

.title button {
    padding: 12px 30px;
    background-color: #fb811e;
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: 400;
}

.title button:hover {
    background-color: #009f4d;
}

.align-items-center {
    align-items: center !important;
}

/* HEADER */

header {
    padding: 8px 16px;
}

.navbar-brand {
    position: relative;
}

.navbar-brand h1 {
    font-family: 'Volkhov', serif;
    font-size: 2rem;
}

.navbar-light .navbar-brand {
    color: #fb811e;
}

.navbar-brand .fa {
    position: absolute;
    font-size: 20px;
    top: 0;
    left: 60px;
}

header .form-control {
    width: 35px !important;
    height: 35px;
    border-radius: 35px;
    background-image: url(../img/5023-512.png);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

header .form-control:focus {
    width: 200px !important;
    background-position: left;
    background-position-x: 10px;
    padding-left: 30px;
    padding-right: 15px;
}

.theme button {
    font-size: 20px;
    color: #fff;
    padding: 0 12px;
}

.theme button:hover {
    color: #fb811e;
}

.dropdown .btn {
    font-size: 29px;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu.show {
    border: none;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    width: 232px;

}

header .dropdown-menu {
    right: 0;
    left: auto;
    text-align: center;
}

/* CAROUSEL */

.farmCarousel {
    position: relative;
}

.carousel__left {
    left: 10em;
    z-index: 100;
}

.farmCarousel .title p{
    font-size: 20px;
}

.carouselLeft__content {
    position: relative;
}

.carouselLeft__content>h2 {
    font-size: 120px;
    font-family: 'Volkhov', serif;
    font-weight: bold;
    color: #f4f4f4;
    margin-left: -0.5em;
    margin-bottom: -0.5em;
}

.border_bot {
    border-bottom-left-radius: 20px;
}

.carousel-item>img {
    height: 100vh;
    object-fit: cover;
}

.carousel__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

#farmCaption .carousel-indicators {
    bottom: 20px;
    margin: 0;
}

#farmCaption .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 4px;
}

#farmCaption .carousel-indicators .active {
    background-color: #fb811e;
}

.carousel-item {
    height: 100vh;
}

/* GROW */

.grow {
    padding: 3rem 0;
}

.grow__content {
    padding: 48px 0;
}

.grow .title {
    padding-right: 3rem;
}

.grow .title p:first-of-type {
    margin: 0;
}

.grow .card {
    padding: 40px 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 1rem 3rem #00000008;
    background-color: #fff
}

.grow img {
    max-width: 65px;
    margin: auto;
}

.grow .card-body {
    padding: 0;
    margin-top: 25px;
}

.grow .card-body a {
    font-size: 20px;
    font-family: 'Volkhov', serif;
    line-height: 28px;
    font-weight: 600;
    display: block;
    color: #060606;
    text-decoration: none;
}

.mb-4,
.my-4 {
    margin-bottom: 20px !important;
    padding: 0 10px;
}

/* SERVICES */
.farmServices {
    background: #009f4d;
    margin-top: 100px;
}

.Services__title{
    position: absolute;
    color: #fff;
    font-weight: bold;
    opacity: 0.15;
    font-size: 12vw;
    bottom: 1%;
    right: 20%;
}

.row h5 {
    font-size: 22px;
    font-weight: 500;
}

.row h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    margin-right: 33px;
    
}

.title__right {
    font-size: 1.25rem;
    font-weight: 300;
}


.card {
    border-radius: 0.25rem;
}

.card__header img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__body {
    background-color: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card__body span {
    color: #009f4d;
    display: inline-block;
    padding: 5px 20px;
    background-color: #009f4d29;
    font-weight: 600;
    border-radius: 20px;
}

.card__body a{
    display: block;
    color: #060606;
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    text-decoration: none;
}

.card__body a:hover {
    color: #009f4d;
}

.card__body p {
    color: #707070;
    font-size: 17px;
    line-height: 27px;

}

/* WHYUS */
.whyUs {
    padding-top: 100px;
}

.whyUs__content {
    display: flex;
}

.whyUs__left {
    align-self: center;
}

.whyUs h5 {
    font-size: 22px;
    font-weight: 600;
    color: #fb811e;
}

.whyUs h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.whyUs P {
    color: #707070;
    font-size: 17px;
    margin: 16px 0;
}

.whyUs__bottom {
    display: flex;
    margin-top: 50px;
}

.bottom__left, .bottom__right {
    display: flex;
    padding: 0 10px;
}

.whyUs__left span {
    color: #fb811e;
    font-size: 30px;
}

.qualified, .excellent{
    margin-left: 10px;
}

.whyUs h4 {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
}

.whyUs__right {
    margin-left: 100px;
    position: relative;
}

.whyUs__img {
    width: 100%;
    border-radius: 30px;
}

.whyUs__year {
    position: absolute;
    background-color: #fb811e;
    bottom: 40px;
    left: -85px;
    padding: 30px;
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}

.whyUs__year h6 {
    font-size: 70px;
    color: #fff;
    font-weight: 600;
    line-height: 80px;
}

.whyUs__year p {
    color: #fff;
    font-size: 18px;
    font-weight: 600;

}


/* FEATURES */
.features {
    padding: 100px;
}

.features__content {
    display: flex;
    flex-wrap: wrap;
}

.features a {
    text-decoration: none;
}

.features h4 {
    font-size: 24px;
    color: #060606;
    font-weight: 600;
    transition: 0.3s ease-in;
}

.features p {
    color: #707070;
    font-size: 17px;
}

.fea__item {
    margin-top: 30px;
}

.fea__card {
    background-color: #fafafa;
    padding: 32px 1px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s ease-in;
}

.fea__card:hover {
    background-color: #fff;
    border: 1px solid #eee;
    transition: 0.3s ease-in;
}

.fea__card:hover h4 {
    color: #009f4d;
    transition: 0.3s ease-in;
}




/* GALLERY */

/* FEEDBACK */

/* FOOTER */

/* BACK TO TOP */

/* LIGHT THEME */

#switchButton .bi-brightness-high {
    display: none;
}

#switchButton .bi-moon {
    display: block;
}

/* DARK THEM */

.dark#myBody {
    background-color: #222222;
}

/* header */

.dark #switchButton .bi-brightness-high {
    display: block;
    color: white;
}

.dark #switchButton .bi-moon {
    display: none;
}

.dark #switchButton i:hover {
    color: #fb811e;
}

/* carousel */

.dark .carouselLeft__content>h2 {
    color: black;
}

.dark .title h2 {
    color: #fdfffc;
}

.dark .title p:last-of-type {
    color: #b7b7b7;
}

/* grow */

.dark .card {
    background-color: #222222;
    box-shadow: 0 1rem 3rem #171313;
}

.dark .card a {
    color: #fff;
    transition: all 0.5s;
}

.dark .card a:hover {
    color: #009f4d;
}

/* BACK TO TOP */
.backToTop {
    position: fixed;
    bottom: 90px;
    right: 15px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #009f4d;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    /* visibility: hidden; */
    /* opacity: 0; */
    transition: all 0.2;
}

.backToTop:hover {
    opacity: 0.8;
    color: #fff;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}