* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* HEADER */

/* CAROUSEL */

/* GROW */

/* SERVICES */

/* WHYUS */

/* FEATURES */

/* GALLERY */

/* FEEDBACK */

/* FOOTER */

/* BACK TO TOP */

.backToTop {
    position: fixed;
    bottom: 90px;
    right: 15px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #009f4d;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    /* visibility: hidden;
    opacity: 0;    */
    transition: all 0.2;
}

.backToTop:hover {
    opacity: 0.8;
    color: #fff;
}

/* .cd-top--is-visible {
    
    visibility: visible;
    opacity: 1;
  } */
